<div class="top-charts-cont">
    <div class="top-charts">
        <div class="chart-item">
            <h3>Popular brand</h3>
            <canvas id="myChart1" width="400px" height="210px"></canvas>
        </div>
        <div class="chart-item">
            <h3>Popular colors</h3>
            <canvas id="myChart2" width="400px" height="200px"></canvas>
        </div>
    </div>
</div>

<div class="bottom-chart-cont">
    <div class="bottom-chart">
        <h3>Shoe sales information</h3>
        <canvas id="myChart3"></canvas>
    </div>
</div>


