<div class="container">
    <div class="navigation">
        <ul>
            
            <li>
                <a>
                    <span class="icon"></span>
                    <span class="title"><h2>Inventory</h2></span>
                </a>
            </li>
        
        
            <li>
                <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <span class="icon"><fa-icon [icon]="faChartBar"></fa-icon></span>
                    <span class="title">Overview</span>
                </a>
            </li>
        
        
            <li>
                <a routerLink="./order-shoes" routerLinkActive="active">
                    <span class="icon"><fa-icon [icon]="faClipboardList"></fa-icon></span>
                    <span class="title">Order shoe</span>
                </a>
            </li>
        
        
            <li>
                <a routerLink="./manage-inventory" routerLinkActive="active">
                    <span class="icon"><fa-icon [icon]="faEdit"></fa-icon></span>
                    <span class="title">Manage inventory</span>
                </a>
            </li>
        
        
            <li>
                <a routerLink="./settings">
                    <span class="icon"><fa-icon [icon]="faGears"></fa-icon></span>
                    <span class="title">Settings</span>
                </a>
            </li>
        
        
            <li>
                <a href="#">
                    <span class="icon log"><fa-icon [icon]="faSignOut"></fa-icon></span>
                    <span class="title">Logout</span>
                </a>
            </li>
            
        </ul>
    </div>
    <!--topbar-->
    <div class="main">
        <div class="topbar">
            <div class="toggle" (click)="toggleMenu();">
                <span class="bar">
                    <fa-icon [icon]="faBars"></fa-icon>
                </span>
            </div>
                

            <div class="user-icon">
                <span class="user-icon">
                    <fa-icon [icon]="faUser"></fa-icon>
                </span>
            </div>
            
        </div>

        <div class="link-display">
            <router-outlet></router-outlet>
        </div>

        
    </div>
</div>

<!--Script-->
