<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>

    <div class="body-container">
        <div class="image-container">
            <img src="../../assets/images/logos/Aya'shisa Ama Tekkie-logos_white.png" alt="">
        </div>

        <div class="container">
            <div class="sign-in">
                <div class="inner">
                    <h1>Sign in</h1>
    
                    <div class="form-cont">
                        <form [formGroup]="loginForm" (ngSubmit)="formSubmit()">
                            <label for="">User name</label><br>
                            <input type="text" formControlName="userName" name="userName" placeholder="Enter username"><br>
                            <label for="">Password</label><br>
                            <input type="password" formControlName="password" placeholder="Enter password"><br>
                            <button>Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>