<div class="order-container">
    <div class="container">
        <div class="title">
            <label class="main-title">Order shoes</label>
        </div>
        <div class="inner-container">
            <form [formGroup]="orderForm" (ngSubmit)="orderShoe()">
                
                <div class="top-select">
                    <span class="top-select-item">
                        <!-- BRAND SELECTOR -->
                        <select  name="brands" (change)="getShoes($any($event.target).value)" id="brands" class="brand-name-drop text-box-reusables" formControlName="brandName" aria-placeholder="Choose a brand">
                            <option value="">Choose a Brand</option>
                            <option *ngFor="let brand of brands" [value]="brand.name">{{ brand.name }}</option>

                        </select>
                    </span>
                    
                    <span class="top-select-item">
                        <select [disabled]="shoes.length === 0" name="names" class="shoe-name-drop text-box-reusables" formControlName="shoeName">
                            <option value="">Choose shoe</option>
                            <option *ngFor="let shoe of shoes" [value]="shoe.name">{{shoe.name}}</option>
                        </select>
                    </span>
                </div>
    
                <div class="bottom-select">
                    <span class="bottom-item">
                        <select [disabled]="shoes.length === 0" name="colors" class="color-drop text-box-reusables" formControlName="color">
                            <option value="">Select a color</option>
                            <option value="black">Black</option>
                            <option value="red">Red</option>
                            <option value="white">White</option>

                        </select>
                    </span>
                  
                    <span class="bottom-item">
                        <select [disabled]="shoes.length === 0"  name="brands" id="brands" class="brand-name-drop text-box-reusables" formControlName="size">
                            <option value="">Choose a size</option>
                            <option value="adidas">6</option>
                            <option value="nike">7</option>
                            <option value="puma">8</option>
                            <option value="reebok">9</option>
                        </select>
                    </span>
    
                    <span class="bottom-item">
                        <input [disabled]="shoes.length === 0" type="number" class="quantity-field text-box-reusables" placeholder="Enter quantity" formControlName="quantity"/>
                    </span>
    
                    
                    <span class="bottom-item">
                        <button type="submit" class="order-button">Add</button>
                    </span>
                </div>
    
                <!--  -->
                <div class="shoe-list-container">
                    <label for="box" class="subtitle-label">List of Shoes</label>
    
                    <div class="box">
    
                    </div>
    
                    <div class="bottom-contain">
                        <label class="title-2x">Total: R</label>
                        <div class="order-btn">
                            <button [disabled]="allShoes.length == 0" class="order-complete-btn">Complete Order</button>
                        </div>
                    </div>
                    
                </div>
            </form>
            
        </div>
    </div>
</div>

