.manage-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.card-container{
    display: flex;
    width: fit-content;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-left: auto;
}

.card-item{
    width: 250px;
    height: 260px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;;
    margin: 10px;
    border-radius: 10px;
}

h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.brand-image img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.brand-details{
    padding: 15px 20px;
}

h4{
    margin: 10px 0;
}

.btn{
    padding: 8px 10px;
    border: none;
    background-color: #003147;
    color: white;
}

.inner-details{
    display: flex;
    margin-bottom: 10px;
}

span{
    margin: 10px 0;
    margin-left: auto;
}

.btn{
    width: 100%;
    cursor: pointer;
}