<h2>Manage shoe by brand</h2>
<div class="manage-container">
    <div class="card-container">

        <div class="card-item">

            <div class="brand-image">
                <img src="../../../assets/images/nike.jpg" alt="">
            </div>

            <div class="brand-details">

                <div class="inner-details">
                    <h4>Nike</h4>
                    <span>qty:</span>
                </div>
                
                <button class="btn">Manage</button>
            </div>
        </div>

        <div class="card-item">

            <div class="brand-image">
                <img src="../../../assets/images/Adidas-Logo (1).jpg" alt="">
            </div>

            <div class="brand-details">
                
                <div class="inner-details">
                    <h4>Nike</h4>
                    <span>qty:</span>
                </div>
                
                <button class="btn">Manage</button>
            </div>

        </div>
        <div class="card-item">
            
            <div class="brand-image">
                <img src="../../../assets/images/puma.png" alt="">
            </div>

            <div class="brand-details">
                
                <div class="inner-details">
                    <h4>Nike</h4>
                    <span>qty:</span>
                </div>
                
                <button class="btn">Manage</button>
            </div>

        </div>
        <div class="card-item">

            <div class="brand-image">
                <img src="../../../assets/images/new-balance.jpg" alt="">
            </div>

            <div class="brand-details">
                
                <div class="inner-details">
                    <h4>New balance</h4>
                    <span>qty:</span>
                </div>
                
                <button class="btn">Manage</button>
            </div>

        </div>
        <div class="card-item">

            <div class="brand-image">
                <img src="../../../assets/images/reebok.jpg" alt="">
            </div>

            <div class="brand-details">
                
                <div class="inner-details">
                    <h4>Reebok</h4>
                    <span>qty:</span>
                </div>
                
                <button class="btn">Manage</button>
            </div>

        </div>
        <div class="card-item"></div>

    </div>
</div>