<!-- PAGE NAVIGATION -->
<div class="navigation" id="navigation">
    <div class="user-icon">
        <fa-icon [icon]="faUser" id="user-icon"></fa-icon>
    </div>
    <div class="cart-icon" (click)="openCart()">
        <fa-icon [icon]="faCart" id="cart-icon"></fa-icon>
        <ng-container *ngIf="cartList.length > 0" #nothing>
            <span class="cart-count">{{ cartList.length }}</span>
        </ng-container>
        <ng-template>
            <span></span>
        </ng-template>
    </div>
</div>

<!-- BANNER -->
<div class="banner">
    <img src="../../../assets/images/logos/Aya'shisa Ama Tekkie-logos_white.png" alt="">
    <div class="banner-text">
        <h1>The best sneakers<br> in the game</h1>
    </div>
</div>

<!-- Heading -->
<h2>Most popular shoes</h2>

<!-- MOST POPULAR SHOES -->
<div class="popular-shoes">

    <div class="container">
        <div class="item-card">
            
            <img src="../../../assets/images/sneakers/air jordan 1.jpg" alt="">
            
            <div class="add-to-cart">
                <strong><p>Product name</p></strong>
                <p>Price: R</p>
                <div class="btn-cont">
                    <button>Add to cart</button>
                </div>
            </div>
        </div>

        <div class="item-card">
            
            <img src="../../../assets/images/sneakers/air max 90.jpg" alt="">
            
            <div class="add-to-cart">
                <strong><p>Product name</p></strong>
                <p>Price: R</p>
                <div class="btn-cont">
                    <button>Add to cart</button>
                </div>
            </div>

        </div>

        <div class="item-card">
            
            <img src="../../../assets/images/sneakers/nite ball.jpg" alt="">
            
            <div class="add-to-cart">
                <strong><p>Product name</p></strong>
                <p>Price: R</p>
                <div class="btn-cont">
                    <button>Add to cart</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Heading -->
<h2>Shoe catalogue</h2>

<!-- CATALOGUE -->
<div class="catalogue">

    <div class="catalogue-inner">

        <!-- SEARCH FILTER -->
        <div class="search-filters">
            
            <div class="search-inner">

                <!-- SEARCH BOX -->
                <div class="search-box">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="search">
                </div>

                <!-- SEARCH FILTERS -->
                <div class="search-filter-input">

                    <select name="brandSelect" id="">
                        <option value="">Filter by brand</option>
                        <option value="nike">Nike</option>
                    </select>
                    <select name="colorSelect" id="">
                        <option value="">Filter by color</option>
                        <option value="white">White</option>
                    </select>
                    <select name="priceSelect" id="">
                        <option value="">Filter price</option>
                        <option value="">R 0 - R 500</option>
                    </select>

                </div>
            </div>
            
        </div>

        <!-- SHOES DISPLAY -->
        <div class="shoes">

            <ng-container *ngIf="shoes.length > 0" #noShoes>
                
                <div *ngFor="let shoe of shoes" class="item-card" (click)="displayModal(shoe.id)">
                
                    <img [src]="'../../../assets/images/sneakers/' + shoe.name + '.jpg'" alt="">
                    
                    <div class="add-to-cart">
                        <strong><p>{{ shoe.name | titlecase }}</p></strong>
                        <p>Price: R {{ shoe.price }}</p>
                        
                    </div>
        
                </div>
            </ng-container>
            <ng-template>
                <h1>No shoes</h1>
            </ng-template>    
            
        </div>
    </div>

</div>

<!-- BACK DROP -->
<div class="back-drop" id="backDrop" (click)="closeModal()"></div>

<!-- SHOE MODAL -->
<div class="shoe-modal" id="modal">

    <div class="modal-inner">
        <div class="shoe-image">
            <img [src]="'../../../assets/images/sneakers/'+ modalShoe.name +'.jpg'" alt="">
        </div>
        <div class="shoe-information">
            <h1>{{ modalShoe.name | titlecase }}</h1>
            
            <div class="desc-item">
                <Strong><p>Quantity:</p></Strong>
                <div class="desc"><button (click)="reduceQuan()"><fa-icon [icon]="faLessThan"></fa-icon></button><p>{{ quantity }}</p><button (click)="increaseQuan()"><fa-icon [icon]="faGreaterThan"></fa-icon></button></div>
            </div>
            <div class="desc-item">
                <strong><p>Price:</p></strong>

                <div class="desc"><p>R {{ modalShoe.price }}</p></div>
            </div>
            <div class="desc-item">
                <strong><p>Colors:</p></strong>
                <div class="desc">
                    <div class="colors" >
    
                        <div class="color" *ngFor="let color of modalShoe.colors" [ngStyle]="{'background-color': color}" (click)="setColor(color)"></div>
                    </div>
                </div>
            </div>
            <div class="desc-item">
                <strong><p>Sizes: </p></strong>
                <div class="desc"><span class="size-box" *ngFor="let size of modalShoe.sizes" (click)="setSize(size)">{{ size }}</span></div>
            </div>

            <div class="btn-cont">
                <button (click)="addToCart(modalShoe.id)">Add to cart</button>
            </div>
        </div>
    </div>
    
</div>

<!-- CART -->
<div class="cart" id="cart">

    <!-- CART TOP -->
    <div class="cart-top">
        <fa-icon [icon]="faTimes" (click)="closeCart()"></fa-icon>
        <h1>Cart</h1>
    </div>

    <!-- CART ITEM LIST -->
    <div class="cart-item-list">
        <ng-container *ngIf="cartList.length > 0" #emptyList>

            <!-- CART ITEM -->
            <div *ngFor="let shoeData of cartList" class="cart-item">
                <div class="item-img">
                    <img [src]="'../../../assets/images/sneakers/' + shoeData.name + '.jpg'" alt="">
                </div>
                <div class="item-details">
                    <strong><p>{{ shoeData.name }}</p></strong>
                    <p>{{ shoeData.color }}</p>
                    <p>quantity</p>
                </div>
                <div class="alter-item">
                    <button (click)="removeFromCart(shoeData.id)">Remove item</button>
                </div>
            </div>
        </ng-container>
        <ng-template #emptyList>
            <div class="empty-list">
                <h1>cart is empty</h1>
            </div>
        </ng-template>

    </div>

    <div class="cart-tot-box">
        <div class="total">
            <h2>Total here</h2>
        </div>
        <div class="empty-cart-btn">
            <button (click)="emptyCart()">Empty cart</button>
        </div>
        <div class="checkout">
            <button (click)="checkout()">Checkout</button>
        </div>
    </div>

</div>
